.jumbotron {
    padding-top: 6rem;
    background-color: #f3f4f5;
  }
  
  #project {
    background-color: #e2edff;
  }
  
  section {
    /* padding-top: 5rem; */
  }
  
  #product{
    background:#f3f4f5;
  }